*{
    margin: 15px; /* removes the weird gap at the top of the webpage for the banner */
    padding: 0;
}
ul { /* removes bullet points */
    list-style-type: none;
    font-family: cursive;
}
.horizontal-list{
    display: flex;
    float: right;
    padding: 0px;
    margin: 0px;
    gap: 50px;
    cursor: pointer;
}
.horizontal-list li a {
  text-decoration: none; /* Removes underlines from links */
  color: white; 
 
}
.btn{
     /* Fallback background color for older browsers */
  background-color: #46026d; 
  
  /* The gradient effect */
  
  /* Other styling properties */
  border: none;
  color: white;
  padding: 0.5em 0.9em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1000px; /* Adjust border-radius as needed */
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, red, blue);
    z-index: -1;
}

.btn:hover{
    z-index: 0;
    box-shadow: 40px 0 100px red, 
    -40px 0 100px blue;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.Hunger-Games-Emblem{
   display:block;
   margin-left: auto;
   margin-right: auto;
   width: 500px
}
.element{
    color: white;
    font-family: Helvetica, sans-serif, Arial,;
}
.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: 1em;

    justify-content: center;
}
.item{
    padding: 2em;
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    position: relative;

    align-items: center;
}
.item::after, .item::before{
    content: '';
    position: absolute;
    height:100%;
    width:100%;
    background-image:conic-gradient(red, orange, yellow, gold, goldenrod, red);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 8px;
}
.item::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}