body {
    margin: 0;
    margin-top: 0;
    padding-top: 0;
    padding: 0;
    background-image: url(image/wallpaperflare.com_wallpaper.jpg);
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
}
body, html {
     padding: 0;
     margin: 0;
    margin-top: 0;
    padding-top: 0;
}

#box {
    display: flex;
    justify-content: center; /* Centers horizontally along the main axis */
    align-items: center; /* Centers vertically along the cross axis */
    height: 50vh; /* Example: Centers in the full viewport height */
}
#box h1{
    font-size: 36px;

}
.text{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
}
.text .view {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.view input{
    font-size: 36px;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 40px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2)
   
}
.view input::placeholder{
    color: #f8afee;
    text-align: center;
}

.wrapper-text{
    color:purple;
}
.wrapper{
    margin-inline: 0px;
    background-color: #f8afee;
    margin: 0px;
    padding: 0px;  
}
img{
    height:100%;
    width:100%;
}

h1 {
    text-align: center;
    color: white;
    font-family:cursive;
}
ul {
    list-style-type: none;
    font-family: cursive;
}
hr {
    color: white;
}
.horizontal-list{
    display: flex;
    float: right;
    padding: 0px;
    margin: 0px;
    gap: 50px;
    cursor: pointer;
}
.horizontal-list li a {
  text-decoration: none; /* Removes underlines from links */
  color: white; 
 
}
.horizontal-list li a:hover {
    color: black;

}
.btn{
     /* Fallback background color for older browsers */
  background-color: #f8afee; 
  
  /* The gradient effect */
  background: linear-gradient(to right, #fbcfff, #ffffff);
  
  /* Other styling properties */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; /* Adjust border-radius as needed */
}

.btn:hover{
    background-position: right; /* Example hover effect, requires background-size change */
  opacity: 0.8;
}